
.bottom_tool_bar {
    /* height: 65px;     */
    position: fixed;
    bottom: 0;
    background-color: var(--Surface-Container);
    width: calc(100% - 32px - 0px);
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;
    margin: 16px;
    border-radius: 50px;
    padding: 10px 0;
    animation: bottom_tool_bar 0.5s cubic-bezier(1,0,0,1);
    transition: transform 0.5s cubic-bezier(1,0,0,1), opacity 0.5s cubic-bezier(1,0,0,1);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

}

@keyframes bottom_tool_bar{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.bottom_tool_bar .format_item input{
    display: none;    
}

.bottom_tool_bar .format_item label{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: var(--Surface-Container-Low);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--On-Surface);
}

.bottom_tool_bar .format_item:first-child{
    margin-left: 16px;
}

.bottom_tool_bar .format_item:last-child{
    margin-right: 16px;
}

.bottom_tool_bar .format_item input:checked + label{
    background-color: var(--Primary);
    color: var(--On-Primary);
}


#editor{
    font-size: 18px;
    font-family: var(--google-normal);
    color: var(--On-Surface);
    caret-color: var(--Primary);
    padding-top: 10px;
    min-height: 100px;
    word-break: break-word;
}

#editor.usingInter{
    font-size: 17px;
}

#editor *{
    user-select: text !important;
}

#editor h1:first-child, #editor h2:first-child, #editor h3:first-child, #editor h4:first-child{
    margin-top: 0;
}


#noteTitle{
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: var(--google-normal);
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    caret-color: var(--Primary);
    user-select: text !important;
    min-height: 37px;
    overflow: auto;
}


 .editable pre {
    font-family: 'MonoSpace';
    background-color: var(--Surface-Container-High);
    padding: 5px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: auto;
    font-size: 15px;
  }

  ol, ul{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }

  ol{
    padding-left: 25px;
  }


  a{
    color: var(--Tertiary);
  }

#added_note_labels{
    padding-top: 10px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    animation: added_note_labels 0.2s ease-out;
    height: 42px;
}

@keyframes added_note_labels{
    0%{
        height: 0;
    }
    100%{
        height: 42px;
    }
}


#added_note_labels md-assist-chip{
    border-radius: 50px;
}

#label_selection_list{
    display: flex;
    flex-direction: column;
}

#label_selection_list label{
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 17px;
    color: var(--On-Surface);
    font-family: var(--google-normal);
}

#label_selection_list notelabelitem{
    position: relative;
}

hr{
    background-color: var(--On-Surface-Variant);
    opacity: 0.4;
}

blockquote {
    border-left: 4px solid var(--Outline-Variant);
    padding-left: 10px;
    color: var(--On-Surface-Variant);
    margin: 0;
    opacity: 0.7;
  }

ul li, ol li {
  margin-bottom: 10px; 
}
ul li:last-child, ol li:last-child {
  margin-bottom: 0;
}

.not-clickable, .not-clickable-folder{
    pointer-events: none;
    opacity: 0.4;
}


[lockedlabelitem], [folderLabelItem]{
    position: relative;
}

[lockedlabelitem]::before, [folderLabelItem]::before{
    content: '';
    content: 'lock';
    font-family: 'Material symbols';
    font-weight: normal !important;
    font-style: normal !important;
    font-variation-settings: 'FILL' 1;
    line-height: 1;
    position: absolute;
    right: 25px;
    width: 26px;
    height: 26px;
    font-size: 16px;
    background-color: var(--Error);
    color: var(--On-Error);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
[folderLabelItem]::before{
    content: 'folder';
    background-color: var(--Tertiary-Container);
    color: var(--On-Tertiary-Container);
}

.note_info_content{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 14px;
    gap: 15px;
}

.note_info_content .info_item_note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Outline-Variant);
    padding-bottom: 8px;
}

.note_info_content .info_item_note p{
    margin: 0;
    font-size: 17px;
    color: var(--On-Surface);
    font-family: var(--google-normal);
}

.note_info_content .info_item_note span{
    display: flex;
    background-color: var(--Secondary-Container);
    padding-left: 10px;
    padding-right: 10px;
    color: var(--On-Secondary-Container);
    font-family: var(--google-mid);
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#editor img{
    border-radius: 10px;
    -webkit-user-drag: none;
}

.full-activity-content-note_editor.useScrollbar::-webkit-scrollbar{
    width: 2px;
}

.full-activity-content-note_editor.useScrollbar::-webkit-scrollbar-thumb{
    background-color: var(--Primary);
    border-radius: 50px;
}

.table-wrapper {
      max-width: 100%;
      overflow: auto;
      margin: 10px 0;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border: 1.5px solid var(--Outline-Variant);
    padding: 5px;
}
